.modal{
  position:fixed;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%) scale(0);
  transition:200ms ease-in-out;
  border: 10px solid;
  border-radius: 10px;
  z-index:10;
  background: #F2994A;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F2C94C, #F2994A);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F2C94C, #F2994A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width:500px;
  max-width: 80%;
  color:black ;
}

.modal.active{
  transform:translate(-50%, -50%) scale(1);
}
.modal-header{
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header .title{
  font-size: 1.25rem;
  font-weight:bold;
}

.modal-header .close-button{
  cursor: pointer;
  border: none;
  background: none;
  font-size: 2rem;
  font-weight: bold;
  color: black;
}

.modal-body{
  padding:10px 15px;
}

#overlay{
  position:fixed;
  opacity:0;
  transition:200ms ease-in-out;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color: rgba(0,0,0,.5);
  pointer-events: none;
}

#overlay.active{
  pointer-events:all;
  opacity: 1;
}
