*{
  margin:0px;
  padding:0px;
  box-sizing:border-box;
}

:root{
  --fontTitles:'Frijole', cursive;
  --tableDatafont:'Rajdhani', sans-serif;
  --fontmainTitle:'Fredericka the Great', cursive;
}
html{
  height: 100%;
  padding: 0px;
  margin: 0px;
  background: url('../static/pikacho.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body{
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    overflow: scroll;
    overflow-y: scroll;
    overflow-x: hidden!important;
}

a{
 color: black;
 text-decoration: none;
}
h1{
   font-family:var(--fontmainTitle);
   opacity: 0.5;
   width: 25%;
   font-size: 70px;
   margin-left: 50px;
   margin-top: 20px;
}
.raw-data{
  color:black;
  position: absolute;
  top:3%;
  right:3%;
}

.flex-container{
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content:center;
  align-items:center;
  width:30%;
  position: absolute;
  top:3%;
  right:6%;
}

.back{
  position:absolute;
  top:3%;
  left:50px;
  height: 100%;
  width: 100%;
}
.circle-card{
  margin: 30px;
  text-align: center;
  background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
  border-radius: 50%;
  width:50%;
  height:50%;
  animation: bounce; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
  animation-delay: 2s;
  padding-top: 110px;
  -webkit-box-shadow: 3px 2px 30px 14px rgba(255,37,15,0.78);
  box-shadow: 3px 2px 30px 14px rgba(255,37,15,0.78);
  font-size: large;
  font-family: var(--fontTitles);

}

/*css style for typePokemon html page */

.type-container{

  margin: 50px 100px 0px 800px;
  width: 50%;
}

table.dataframe, .dataframe th, .dataframe td {
  border: 1px;
  border-bottom: 1px solid black;
  border-collapse: collapse;
  text-align:left;
  padding: 10px;
  margin-bottom: 40px;
  font-size: 0.9em;
  font-style: italic;
  font-family: var(--tableDatafont);
}

.grass thead,.grass-pokemon{
  color: green;

}

.fire thead,.fa-fire,.fire-pokemon{
  color: #cc0000;
}

.water thead,.fa-tint,.water-pokemon{
  color: #0086b3;
}

.fa-skull-crossbones,.poison thead,.poison-pokemon{
  color: #BA55D3;
}

.fas{
  font-size: 30px;
}


.title-types{
  display: flex;
  flex-direction: row;
  padding-top: 15px;
  padding-bottom: 15px;
  width:97%;
}

h2{
  margin-right: auto;
  font-family: var(--fontTitles);
  margin-top: auto;
  font-size: 22px;

}
.grass-icone{
  font-size:30px;
}

.learn-more{
  color: black;
  cursor: pointer;
  border: none;
  position: absolute;
  top:100px;
  left:50px;
}
/*.learn-more:hover {
 color: black !important;
 background: #f6b93b;
 border-color: #f6b93b !important;
 transition: all 0.4s ease 0s;
}
*/

button{
  background: transparent;
}

/*Top five pokemon design page */

.topfive-container{
  margin: 30px 20px 100px 800px;
  width: auto;
}

.top-five-titles{
  text-align: center;
  font-family: var(--fontTitles);
  font-size:22px;
  font-weight:2;
}
.fastPoke{
  width:55%;
  animation-name: mymove;
  animation-duration: 0.7s;
  margin-left: 700px;

}
.fastPoke img{
  width: 30%;
  height:30%;
}

@keyframes mymove {
  from {transform: translate(0)}
  to {transform: translateX(-700px)}
}

/* the legendary html page style */

.legendary-container{
  margin-left: 40%;
  animation:legendary 0.5s linear alternate;
}
@keyframes legendary {
  from {transform: translateY(100%);}
  to {transform: translateY(-50%);}
}
h3{
  font-family: var(--fontTitles);
  font-size:22px;
  text-align: center;
  margin-top:40px;
}
@media only screen and (max-width:414px){
   body{
     background-image: url('../static/phonesize.png');
     background-size: 414px 736px;
   }
}
